.NOT_GENESIS {
    background-color: grey !important
}

.GEMINI {
    background-color: #487db9 !important
}

.DISCOVERY {
    background-color: #8a9ff0 !important
}

.APOLLO {
    background-color: #31869b !important
}

.VOYAGER {
    background-color: #cd6906 !important
}

.GALILEO {
    background-color: #ff003a !important
}

.SIGMA {
    background-color: coral !important
}

.SKYLAB {
    background-color: #3ad8ac !important
}