.TO_BE_OPENED {
    background-color: #e9ecef !important
}

.RUNNING {
    background-color: #21ae8c !important
}

.ANALYSIS, .ON_HOLD {
    background-color: #fda700 !important
}

.FINISHED {
    background-color: #005792 !important
}

.CLOSED {
    background-color: #798892 !important
}

.KILLED, .CANCELLED, .TO_BE_CANCELLED, .DECISION_NEEDED, .OUT_OF_PROJECT_PATH, .REPLACED {
    background-color: #fd5f00 !important
}

