<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<hr>
<h3> PMO </h3>
<hr>
<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3"> New PMO </a>

<div>
    <h4> Current PMO </h4>
    <table class="table table-bordered table-striped">
        <colgroup>
            <col span="2" style="background-color:#FD6EC5">
        </colgroup>
        <thead class="purple-gradient white-text">
        <tr>
            <th> PMO Name</th>
            <th> PMO Surname</th>
            <th> PMO Projects</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}">
            <td th:text="${employee.lastName}">
            <td th:text="${employee.getProjects()}">
        </tr>
        </tbody>
        </tbody>
    </table>
</div>

<footer th:replace="layouts :: footer"></footer>

</body>
