<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title th:text="${project?.name}">PROTON</title>
    <link href="/css/sing/application.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>


    <!-- DataTables CSS -->
    <!--    <link href="/css/addons/datatables.min.css" rel="stylesheet" type="text/css">-->
    <!-- DataTables Select CSS -->
    <link href="/css/addons/datatables-select.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"/>
    <!-- Bootstrap core CSS -->
    <!--    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!-- Material Design Bootstrap -->
    <!--    <link href="/css/mdb.min.css" rel="stylesheet" type="text/css">-->

    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->

    <link rel="shortcut icon" href="/codebase/planet.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="PROTON">
    <meta name="keywords"
          content="proton ppm">
    <meta name="author" content="Francesco Crisanti">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
        chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
        https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>

</head>
<body class="nav-collapsed" style="overflow-x: unset;">
<!--
  Main sidebar seen on the left. may be static or collapsing depending on selected state.

    * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
    * Static - stays always open.
-->
<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo d-none d-md-block">
            <a href="/projects"><span><IMG src="/codebase/planet.png" width="40" height="40"
                                           style="border: 5px solid transparent; opacity: 0.7;"></span>
                <b>PROTON</b></a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status d-md-none">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar float-right">
                            <img class="rounded-circle" src="demo/img/people/a5.jpg" alt="...">
                        </span>
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                     should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                            13
                        </span>
                &nbsp;
                Francesco <strong>Crisanti</strong>
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="/projects">
                            <span class="icon">
                                <i class="fi flaticon-home"></i>
                            </span>
                    Project List
                </a>
            </li>
        </ul>
        <!-- every .sidebar-nav may have a title -->
        <!--        <h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i-->
        <!--                class="glyphicon glyphicon-refresh"></i></a></h5>-->
        <ul class="sidebar-nav">
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="/psr">
                            <span class="icon">
                                <i class="fi flaticon-document"></i>
                            </span>
                    Status Reports
                </a>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="/employees">
                            <span class="icon">
                                <i class="fi flaticon-users"></i>
                            </span>
                    PMO
                </a>
            </li>
            <li class="">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="#">
                            <span class="icon">
                                <i class="fi flaticon-calculator"></i>
                            </span>
                    Budget
                </a>
            </li>
        </ul>

    </div>
</nav>
<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
<nav class="page-controls navbar navbar-dashboard">

    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header mr-md-3">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="d-none d-lg-block nav-link" id="nav-state-toggle" href="#">
                        <i class="la la-bars"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->

                    <a class="d-lg-none nav-link" id="nav-collapse-toggle" href="#">
                        <span class="square square-lg d-md-none"><i class="la la-bars"></i></span>
                        <i class="la la-bars d-none d-md-block"></i>
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right d-md-none">
                <li class="nav-item">
                    <!-- toggles chat -->
                    <a class="nav-link" href="#" data-toggle="chat-sidebar">
                        <span class="square square-lg"><i class="la la-globe"></i></span>
                    </a>
                </li>
            </ul>
            <!-- xs & sm screen logo -->
            <a class="navbar-brand d-md-none" href="/projects">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                sing
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="navbar-header mobile-hidden">
            <!-- search form! link it to your search server -->
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border ml-4">
                        <input class="form-control" type="text" id="mySearchText" placeholder="Search..."
                               oninput="doSearch()">
                        <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                    </div>
                </div>
            </form>

                <button type="submit" form="psrForm" class="btn btn-primary" style="width:200px" onclick="saveTables()">
                    Save Changes
                </button>
                <a th:href="@{/projects/edit(id=${project.projectId})}" type="button" class="btn btn-default"
                   style="width:250px">Edit Project</a>
                <!--            spacing for future logged in button-->
                <div style="width: 120px"></div>

                <ul class="nav navbar-nav float-right">

                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle no-caret nav-link" data-toggle="dropdown">
                            <i class="la la-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="/logout"><i class="la la-sign-out"></i> &nbsp; Log
                                Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
</nav>

<div class="content-wrap" style="height: 31%;">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->

    <main class="content" role="main">
        <!-- Page content -->
        <form id="psrForm" th:action="@{/psr/{id}/savenew(id=${project.projectId})}"
              th:object="${projectStatusReport}"
              method="POST">
            <div th:if="${errorMessage}">
                <div th:text="${errorMessage}" class="red-text"></div>
            </div>
            <input type="hidden" th:field="${projectStatusReport.jsonRisks}" id="jsonRisks" value="jsonRisks">
            <input type="hidden" th:field="${projectStatusReport.jsonMilestones}" id="jsonMilestones" value="jsonMilestones">
            <input type="hidden" th:field="${projectStatusReport.htmlRisks}" id="htmlRisks" value="htmlRisks">
            <input type="hidden" th:field="${projectStatusReport.htmlMilestones}" id="htmlMilestones" value="htmlMilestones">
            <input type="hidden" th:field="${projectStatusReport.quarter}">
            <input type="hidden" th:field="${projectStatusReport.year}">
            <input type="hidden" th:field="${projectStatusReport.quarter}">
            <input type="hidden" th:value="${projectStatusReport.psrId}" name="psrId" id="psrId">

        <div id="content" class="flex-column col-lg-8" style="width: 926px;">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Project Status Report</li>
                <li class="breadcrumb-item active" th:text="P+${project.sapNo}"></li>
            </ol>
            <h2 class="page-title"><span th:text="${projectStatusReport.getYear() + ' ' + projectStatusReport.getQuarter()}">2020 Q3</span> - <span class="fw-semi-bold" id="companyOrGenesis"
                                                                                                                                                    th:text="${project.name}">All</span></h2>

            <i th:text="${projectStatusReport.modifiedBy!=null } ? ${ 'Last modified by '+projectStatusReport.modifiedBy+' on '+projectStatusReport.lastModifiedDate}"></i>
            <div class="row">

                <div class="flex-column col-xl-3" style="flex-grow: 0; flex-shrink: 0;">
                    <section class="widget">
                        <header>
                            <h5>
                                Project <span class="fw-semi-bold">Team</span>
                            </h5>
                        </header>
                        <div class="widget-body">
                            <a>Project Manager</a>
                            <br>
                            <input size="15"
                                   th:value="${projectStatusReport.projectManager != null ? projectStatusReport.projectManager : project.projectManager}"
                                   id="projectManager" name="projectManager">
                            <br>
                            <br>
                            <a>PMO</a>
                            <br>
                            <input size="15"
                                   th:value="${projectStatusReport.employees != null ? projectStatusReport.employees : project.employees}"
                                   id="employees" name="employees">
                            <br>
                            <br>
                            <a>Project Analyst</a>
                            <br>
                            <input size="15"
                                   th:value="${projectStatusReport.analyst != null ? projectStatusReport.analyst : project.analyst}"
                                   id="analyst" name="analyst">
                            <br>
                            <br>
                            <a>Technical Manager</a>
                            <br>
                            <input size="15"
                                   th:value="${projectStatusReport.techManager != null ? projectStatusReport.techManager : project.techManager}"
                                   id="techManager" name="techManager">
                        </div>
                    </section>
                </div>

                <div class="flex-column col-lg-9"
                     style="flex-grow: 0; flex-shrink: 0; padding-left:0px; padding-bottom:0px;">
                    <section class="widget" style="height: 200px; margin-bottom: 20px;">
                        <header>
                            <h5>
                                Project <span class="fw-semi-bold">Description</span>
                            </h5>
                            (Project Aim, Product etc.)
                        </header>
                        <div class="widget-body">
                            <textarea cols="67" rows="4"
                                      th:text="${projectStatusReport.description != null ? projectStatusReport.description : project.descriptionEn}"
                                      id="description" name="description"></textarea>
                        </div>
                    </section>

                    <section class="widget" style="height: 100px;">
                        <header>
                            <h5>
                                Key <span class="fw-semi-bold">Modified Systems</span>
                            </h5>
                        </header>
                        <div class="widget-body">
                            <input size="69" id="modifiedSystems" name="modifiedSystems" th:value="${projectStatusReport.modifiedSystems != null ? projectStatusReport.modifiedSystems : previousProjectStatusReport?.modifiedSystems}">
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-3 col-md-6">
                    <div class="pb-xlg">
                        <section class="widget mb-0">
                            <header>
                                <h5>Project <span class="fw-semi-bold">Budget</span></h5>
                            </header>
                            <div class="widget-body justify-content-center">
                                <div class="d-flex justify-content-between align-items-center mb-lg">
                                    <h4 data-toggle="tooltip" data-placement="right" title="">
                                        <input size="7" th:value="${projectStatusReport.plannedBudget != null ? projectStatusReport.plannedBudget : previousProjectStatusReport?.plannedBudget}"
                                               id="plannedBudget" name="plannedBudget" class="currencyInput">
                                    </h4>
                                    <b>PLN</b>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="pb-xlg">
                        <section class="widget mb-0">
                            <header>
                                <h5>Realized <span class="fw-semi-bold">Costs</span></h5>
                            </header>
                            <div class="widget-body justify-content-center">
                                <div class="d-flex justify-content-between align-items-center mb-lg">
                                    <h4 data-toggle="tooltip" data-placement="right" title="">
                                        <input size="7" th:value="${projectStatusReport.realizedBudget != null ? projectStatusReport.realizedBudget : previousProjectStatusReport?.realizedBudget}"
                                               id="realizedBudget" name="realizedBudget" class="currencyInput">
                                    </h4>
                                    <b>PLN</b>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="pb-xlg">
                        <section class="widget mb-0">
                            <header>
                                <h5>Cost <span class="fw-semi-bold">Forecast</span></h5>
                            </header>
                            <div class="widget-body justify-content-center">
                                <div class="d-flex justify-content-between align-items-center mb-lg">
                                    <h4 data-toggle="tooltip" data-placement="right" title="">
                                        <input size="7" th:value="${projectStatusReport.forecastBudget != null ? projectStatusReport.forecastBudget : previousProjectStatusReport?.forecastBudget}"
                                              id="forecastBudget" name="forecastBudget" class="currencyInput">
                                    </h4>
                                    <b>PLN</b>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="pb-xlg">
                        <section class="widget mb-0">
                            <header>
                                <h6>Cost <span class="fw-semi-bold">Allocation Key</span></h6>
                            </header>
                            <div class="widget-body">
                                <div class=""
                                     id="flot-donut-legend">
                                    <table style="font-size:smaller;color:#545454">
                                        <tbody>
                                        <tr>
                                            <td class="legendLabel">
                                                <textarea cols="15" rows="2"
                                                          th:text="${projectStatusReport.costAllocationKey != null ? projectStatusReport.costAllocationKey : project.costAllocationKey}"
                                                          id="costAllocationKey" name="costAllocationKey"></textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>


            <div class="flex-column col-xl-13" style="flex-grow: 0; flex-shrink: 0; padding-top: 20px;">
                <section class="widget">
                    <header>
                        <h5>
                            Project <span class="fw-semi-bold">Rating</span>
                        </h5>
                    </header>
                    <div class="widget-body" style="display:flex; justify-content:space-evenly;">
                        <h5>
                            SCOPE:

                            <select th:field="${projectStatusReport.scope}">
                                <option th:each="scope : ${T(pl.fc.app.enities.enums.ProjectState).values()}"
                                        th:value="${scope}"
                                        th:text="${scope}">
                                </option>
                            </select>
                        </h5>
                        <h5>
                            BUDGET:

                            <select th:field="${projectStatusReport.cost}">
                                <option th:each="cost : ${T(pl.fc.app.enities.enums.ProjectState).values()}"
                                        th:value="${cost}"
                                        th:text="${cost}">
                                </option>
                            </select>
                        </h5>
                        <h5>
                            SCHEDULE:

                            <select th:field="${projectStatusReport.schedule}">
                                <option th:each="schedule : ${T(pl.fc.app.enities.enums.ProjectState).values()}"
                                        th:value="${schedule}"
                                        th:text="${schedule}">
                                </option>
                            </select>
                        </h5>


                    </div>
                </section>
            </div>

            <div class="flex-column col-lg-13" style="flex-grow: 0; flex-shrink: 0;">
                <section class="widget">
                    <header>
                        <h5>
                            Project <span class="fw-semi-bold">Milestones</span>
                            <span class="table-add"><a href="#!" class="text-success"><i
                                    class="btn btn-primary" aria-hidden="true">Add+</i></a></span>
                        </h5>
                    </header>
                    <div class="widget-body">
                        <div class="card">
                            <div class="card-body">
                                <div id="table" class="table-editable">
                                    <table id="table-ed"
                                           class="table table-bordered table-responsive-md table-striped text-center">
                                        <thead class="peach-gradient white-text">
                                        <tr>
                                            <th class="text-center">Task Description</th>
                                            <th class="text-center small">Last accepted due date</th>
                                            <th class="text-center">Execution date</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="milestones-tbody">
                                        <tr>
                                            <td class="pt-3-half" contenteditable="true">Type the task description here
                                            </td>
                                            <td id="date1" class="pt-3-half">
                                                <input type="date" name="dueDate" id="dueDate" value=""/>
                                            </td>
                                            <td id="date2" class="pt-3-half">
                                                <input type="date" name="realDate" id="realDate" value=""/>
                                            </td>
                                            <td class="pt-3-half">
                        <span class="table-remove"><button type="button"
                                                           class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">X</button></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pt-3-half">Project Kick-off
                                            </td>
                                            <td id="date1" class="pt-3-half" th:text="${project?.kickOff}">
                                            </td>
                                            <td id="date2" class="pt-3-half" th:text="${project?.kickOff}">
                                            </td>
                                            <td class="pt-3-half">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pt-3-half">Project Closure
                                            </td>
                                            <td id="date1" class="pt-3-half" th:text="${project?.projectClosure}">
                                            </td>
                                            <td id="date2" class="pt-3-half">
                                                <input type="date" name="realDate" id="realDate" value=""/>
                                            </td>
                                            <td class="pt-3-half">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>

            <div class="flex-column col-lg-13" style="flex-grow: 0; flex-shrink: 0;">
                <section class="widget">
                    <header>
                        <h5>
                            Project <span class="fw-semi-bold">Risks</span>
                            <span class="table-risks"><a href="#!" class="text-success"><i
                                    class="btn btn-primary" aria-hidden="true">Add+</i></a></span>
                        </h5>
                    </header>
                    <div class="widget-body">
                        <div class="card">
                            <div class="card-body">
                                <div id="risks" class="table-editable">
                                    <table id="table-risks"
                                           class="table-bordered table-responsive-md table-striped text-center">
                                        <thead class="peach-gradient white-text">
                                        <tr>
                                            <th class="text-center">Date of identification</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Way of prevention</th>
                                            <th class="text-center">Materialized</th>
                                            <th class="text-center">Impact</th>
                                            <th class="text-center">Probability</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="risks-tbody">
                                        <tr>
                                            <td id="date1" class="pt-3-half">
                                                <input type="date" name="dueDate" id="dueDate" value=""/>
                                            </td>
                                            <td class="pt-3-half" contenteditable="true">Type the description here
                                            </td>
                                            <td class="pt-3-half" contenteditable="true">Type the way of prevention here
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                        <span class="table-remove"><button type="button"
                                                           class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">X</button></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>

            <div class="flex-column col-lg-13" style="flex-grow: 0; flex-shrink: 0;">
                <section class="widget">
                    <header>
                        <h5>
                            Project Manager <span class="fw-semi-bold">Comments</span>
                        </h5>
                    </header>
                    <div class="widget-body">
                        <textarea cols="80" rows="7" th:text="${projectStatusReport.comment}" id="comment" name="comment"></textarea>
                    </div>
                </section>
            </div>

            <button type="submit" form="psrForm" class="btn btn-primary" style="width:200px" onclick="saveTables()">
                Save Changes
            </button>


            <footer th:replace="layouts :: footer"></footer>
        </div>

        <div class="flex-column col-lg-auto"
             style="flex-grow: 0; flex-shrink: 0; margin-left: 67%;">
            <section class="widget">
                <header>
                    <h5>
                        All <span class="fw-semi-bold">Status Reports</span>
                    </h5>
                </header>
                <div class="widget-body">

                    <div class="column">
                        <table id="dtBasicExample" class="table table-bordered table-striped">
                            <thead class="aqua-gradient" style="color: white">
                            <tr>
                                <th> QUARTER</th>
                                <th> YEAR</th>
                                <th> EDIT</th>
                                <th> VIEW</th>
                                <!--                                    <th> DOWNLOAD</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="psr : ${project.projectStatusReports}">
                                <td>
                                    <a th:href="@{/psr/{id}/{year}/{quarter}(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}"
                                       th:text="${psr.getQuarter().getValue()}"></a></td>
                                <td>
                                    <a th:href="@{/psr/{id}/{year}/{quarter}(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}"
                                       th:text="${psr.year}"></a></td>
                                <td>
                                    <a th:href="@{/psr/{id}/{year}/{quarter}(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}"
                                       class="btn btn-red btn-sm m-0">EDIT</a></td>
                                <td>
                                    <a th:href="@{/psr/{id}/{year}/{quarter}/view(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}"
                                       class="btn btn-red btn-sm m-0">VIEW</a></td>
                                <!--                                    <td>-->
                                <!--                                        <button type="button" class="btn btn-amber btn-sm m-0"-->
                                <!--                                                th:attr="onclick=|view('@{/psr/{id}/{year}/{quarter}/view/pdf(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}')|"-->
                                <!--                                        >PDF-->
                                <!--                                        </button>-->
                                <!--                                        <button type="button" class="btn btn-amber btn-sm m-0"-->
                                <!--                                                th:attr="onclick=|view('@{/psr/{id}/{year}/{quarter}/view/ppt(id=${project.projectId}, quarter=${psr.getQuarter().getValue()}, year=${psr.year})}')|"-->
                                <!--                                        >PPT-->
                                <!--                                        </button>-->
                                <!--                                    </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        </form>

    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/jquery-pjax/jquery.pjax.js"></script>
<script src="/node_modules/popper.js/dist/umd/popper.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/node_modules/bootstrap/js/dist/util.js"></script>
<script src="/node_modules/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="/node_modules/widgster/widgster.js"></script>
<script src="/node_modules/pace.js/pace.js"
        data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>
<script src="/node_modules/hammerjs/hammer.js"></script>
<script src="/node_modules/jquery-hammerjs/jquery.hammer.js"></script>

<!-- DataTables JS -->
<!--<script src="/js/addons/datatables.min.js" type="text/javascript"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>


<!-- DataTables Select JS -->
<script src="/js/addons/datatables-select.min.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

<!-- common app js -->
<script src="/js/sing/settings.js"></script>
<script src="/js/sing/app.js"></script>

<!-- Page scripts -->
<script src="/node_modules/jquery-sparkline/jquery.sparkline.js"></script>
<!-- page specific js -->
<script src="/js/sing/tables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>


<footer th:replace="layouts :: footer"></footer>
<script th:inline="javascript">

    function saveRisksAndMilestone(risks, milestones) {
        document.getElementById("jsonRisks").value = JSON.stringify(risks);
        // alert(JSON.stringify(risks));
        document.getElementById("jsonMilestones").value = JSON.stringify(milestones);
        // alert(JSON.stringify(milestones));
        document.getElementById("htmlMilestones").value = $('#table-ed')[0].outerHTML;
        document.getElementById("htmlRisks").value = $('#risks-tbody')[0].outerHTML;
    }

    function resetPsrIdAndSave() {
        document.getElementById("psrId").value = 0;
    }

    function view(url) {
        url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + url;
        $("#edit").html('<object data=' + url + ' style=\"width: 800px; height: 650px;\"/>');
    }

    $(document).ready(function () {
        new AutoNumeric.multiple('.currencyInput', {
            decimalPlaces: 0,
            digitGroupSeparator: " "
        });

        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "searching": false,
                "paging": false,
            });
        });

        // var buttonCommon = {
        //     exportOptions: {
        //         format: {
        //             body: function (data, row, column, node) {
        //
        //                 var retorno = "", tag, respuesta = "", reponer = [];
        //                 tag = $(node).find('input:hidden');
        //                 if (tag.length > 0) {
        //                     for (i = 0; i < tag.length; i++) {
        //                         reponer.push(tag[i]);
        //                         $(tag[i]).remove();
        //                     }
        //                 }
        //                 tag = $(node).find('input:radio');
        //                 if (tag.length > 0) {
        //                     retorno = retorno + ($(node).find(':checked').length > 0 ? $(node).find(':checked').val() : " ");
        //                 }
        //                 tag = $(node).find('input:checkbox');
        //                 if (tag.length == 1) {
        //                     retorno = retorno + ($(node).find(':checked').length > 0 ? "Si" : "No");
        //                 } else if (tag.length > 1) {
        //                     retorno = retorno + ($(node).find(':checked').length > 0 ? $(node).find(':checked').val() : " ");
        //                 }
        //                 tag = $(node).find('input,select,textarea').not(':radio,:checkbox,:hidden');
        //                 if (tag.length > 0) {
        //                     retorno = retorno + ($(tag).map(function () {
        //                         return $(this).val();
        //                     }).get().join(','));
        //                 }
        //
        //                 respuesta = (retorno != "") ? retorno : $.trim($(node).text());
        //                 for (i = 0; i < reponer.length; i++) {
        //                     $(node).append(reponer[i]);
        //                 }
        //
        //                 return respuesta;
        //             }
        //         }
        //     }
        // };


        // $.fn.dataTableExt.ofnSearch['html-input'] = function (value) {
        //     return $(value).val();
        // };

        // alert([[${projectStatusReport.jsonMilestones}]]);
        $('#table-ed').DataTable({
            "paging": false, // false to disable pagination (or any other option)
            dom: 't',
            stateSave: true,
            ordering: false
            // data: [(${projectStatusReport.jsonMilestones})],
            // columns : [
            //     { data : "task description" },
            //     { data : "last accepted due date" },
            //     { data : "execution date" },
            // ]
        });

        $('#table-risks').DataTable({
            "paging": false, // false to disable pagination (or any other option)
            dom: 't',
            stateSave: true,
            ordering: false
            // buttons: [
            //     $.extend(true, {}, buttonCommon, {
            //         extend: 'copyHtml5'
            //     }),
            //     $.extend(true, {}, buttonCommon, {
            //         extend: 'excelHtml5',
            //         autoFilter: true,
            //         sheetName: 'Proton Projects Export',
            //     }),
            //     // 'csvHtml5',
            //     {
            //         extend: 'colvis',
            //         collectionLayout: 'fixed two-column'
            //     }
            // ],
            //
            // initComplete: function () {
            //     this.api().columns().every(function () {
            //         var column = this;
            //         var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
            //             .appendTo($(column.footer()).empty())
            //             .on('change input', function () {
            //                 var val = $(this).val()
            //
            //                 column
            //                     .search(val ? val : '', true, false)
            //                     .draw();
            //             });
            //     });
            // }


        });

        var htmlMilestones = /*[[${projectStatusReport.htmlMilestones != null ? projectStatusReport.htmlMilestones : previousProjectStatusReport?.htmlMilestones}]]*/ null;
        var htmlRisks = /*[[${projectStatusReport.htmlRisks != null ? projectStatusReport.htmlRisks : previousProjectStatusReport?.htmlRisks}]]*/ null;
        if(htmlMilestones) {
            $("#table-ed").replaceWith(htmlMilestones);
        }
        if(htmlRisks) {
            $("#risks-tbody").replaceWith(htmlRisks);
        }

        $(":input:not(select)").on("change paste keyup", function() {
            $(this).attr('value',$(this).val());
        });
        $("select").on("change paste keyup", function() {
            $(this).children("option:selected").attr('selected',true);
        });
    });

    const $tableID = $('#table');
    const $tableID2 = $('#risks');
    const $BTN = $('.export-btn');
    const $EXPORT = $('#export');

    const newTr = `<tr>
                                            <td class="pt-3-half" contenteditable="true">Type the task description here
                                            </td>
                                            <td id="date1" class="pt-3-half">
                                                <input type="date" name="dueDate" id="dueDate" value=""/>
                                            </td>
                                            <td id="date2" class="pt-3-half">
                                                <input type="date" name="realDate" id="realDate" value=""/>
                                            </td>
                                            <td class="pt-3-half">
                        <span class="table-remove"><button type="button"
                                                           class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">X</button></span>
                                            </td>
                                        </tr>`;

    const newTr2 = `<tr>
                                            <td id="date1" class="pt-3-half">
                                                <input type="date" name="dueDate" id="dueDate"/>
                                            </td>
                                            <td class="pt-3-half" contenteditable="true">Type the description here
                                            </td>
                                            <td class="pt-3-half" contenteditable="true">Type the way of prevention here
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                                                <select>
                                                    <option value="Low">Low</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </td>
                                            <td class="pt-3-half">
                        <span class="table-remove"><button type="button"
                                                           class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">X</button></span>
                                            </td>
                                        </tr>`;

    // <td class="pt-3-half">
    //     <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
    // <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
    // </td>

    // $('#invoiceDate').change(function() {
    //     alert( "Handler for .change() called." );
    //     $('#date').html($(this).val());
    // });

    $('.table-add').on('click', 'i', () => {

        // const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

        // $('.currencyInput').removeClass("currencyInput");

        // if ($tableID.find('tbody tr').length === 0) {

            $tableID.find('tbody').append(newTr);
        // }
        //
        // $tableID.find('table').append($clone);

        // new AutoNumeric.multiple('.currencyInput', {
        //     decimalPlaces: 2,
        //     digitGroupSeparator: " "
        // });
        $(":input:not(select)").on("change paste keyup", function() {
            $(this).attr('value',$(this).val());
        });
        // $("select").on("change paste keyup", function() {
        //     $(this).children("option:selected").attr('selected',true);
        // });
    });

    $('.table-risks').on('click', 'i', () => {

        const $clone = $tableID2.find('tbody tr').last().clone(true).removeClass('hide table-line');

        // $('.currencyInput').removeClass("currencyInput");

        if ($tableID2.find('tbody tr').length === 0) {

            $tableID2.find('tbody').append(newTr2);
        }

        $tableID2.find('table').append($clone);

        // new AutoNumeric.multiple('.currencyInput', {
        //     decimalPlaces: 2,
        //     digitGroupSeparator: " "
        // });
    });

    $tableID.on('click', '.table-remove', function () {
        $(this).parents('tr').detach();
    });

    $tableID2.on('click', '.table-remove', function () {
            $(this).parents('tr').detach();
    });

    $tableID.on('click', '.table-up', function () {

        const $row = $(this).parents('tr');

        if ($row.index() === 0) {
            return;
        }

        $row.prev().before($row.get(0));
    });

    $tableID.on('click', '.table-down', function () {

        const $row = $(this).parents('tr');
        $row.next().after($row.get(0));
    });

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    function saveTables() {

        let $rows = $tableID.find('tr:not(:hidden)');
        let headers = [];
        let data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {

            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            const $td = $(this).find('td');
            const h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach((header, i) => {

                if ($td.eq(i).find('input').length) {
                    h[header] = $td.eq(i).find('input').val();
                } else if ($td.eq(i).find('option').val()) {
                    h[header] = $td.eq(i).find('option').filter(':selected').val();
                } else {
                    h[header] = $td.eq(i).text();
                }
                //    h[header] = $td.eq(i).find('input').val();
            });

            data.push(h);
        })

        let milestones = data;

        $rows = $tableID2.find('tr:not(:hidden)');
        headers = [];
        data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {

            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            const $td = $(this).find('td');
            const h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach((header, i) => {

                if ($td.eq(i).find('input').length) {
                    h[header] = $td.eq(i).find('input').val();
                } else if ($td.eq(i).find('option').val()) {
                    h[header] = $td.eq(i).find('option').filter(':selected').val();
                } else {
                    h[header] = $td.eq(i).text();
                }
                //    h[header] = $td.eq(i).find('input').val();
            });

            data.push(h);
        });

        let risks = data;

        saveRisksAndMilestone(risks, milestones);

        // var IDfromURL = new URLSearchParams(window.location.search).get('id');
        // Output the result
        // $EXPORT.text(JSON.stringify(data));
        // alert(JSON.stringify(data));
        // $.ajax({
        //     type: "POST",
        //     url: "/budget/" + IDfromURL + "/save",
        //     data: JSON.stringify(data),
        //     contentType: "application/json; charset=utf-8",
        //     datatype: "json",
        //     headers:
        //         {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
        //     success: window.location.href = "/projects/edit?id=" + IDfromURL
        // });
    };

</script>
</body>
</html>