<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<hr>
<h3> Projects </h3>
<hr>
<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3"> New Project </a>

<div>
    <h4> Current Projects </h4>
    <table>
        <thead>
        <tr>
            <th> Project Name</th>
            <th> Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}">
            <td th:text="${project.stage}">
        </tr>
        </tbody>
        </tbody>
    </table>
</div>


</body>
