<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<hr>
<h3> Project </h3>
<hr>
<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3"> New Project </a>

<div>
    <h4 th:text="${project.name}"> Current Project</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Parameter</th>
            <th> Value</th>
        </tr>
        </thead>
        <tbody th:object="${project}">
        <tr>
            <th> Project Name</th>
            <td th:text="${project.name}">
            </td>
        <tr>
            <th> Project ID</th>
            <td th:text="${project.projectId}">
            </td>
        <tr>
            <th> Stage</th>
            <td th:text="${project.stage}">
        </tr>
        <tr>
            <th> Description</th>
            <td th:text="${project.description}">
        </tr>
        </tbody>
        </tbody>
    </table>
</div>


</body>
