<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<hr>
<h3> Project </h3>
<hr>
<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3"> New Project </a>

<div>
    <h4 th:text="${project.name}"> Current Project</h4>
    <a th:href="@{/projects/edit(id=${project.projectId})}" class="btn btn-primary btn-sm mb-3"> Edit Project </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Parameter</th>
            <th> Value</th>
        </tr>
        </thead>
        <tbody th:object="${project}">
        <tr>
            <th> Project Name</th>
            <td th:text="${project.name}">
            </td>
        </tr>
        <tr>
            <th> Project ID</th>
            <td th:text="${project.sapNo}">
            </td>
        </tr>
        <tr>
            <th> Project Manager</th>
            <td th:text="${project.projectManager}">
        </tr>
        <tr>
            <th> Description PL</th>
            <td th:text="${project.descriptionPl}">
        </tr>
        <tr>
            <th> Description EN</th>
            <td th:text="${project.descriptionEn}">
        </tr>
        <tr>
            <th> PMO</th>
            <td th:list="${project.employees}">
        </tr>
        <tr>
            <th> Status</th>
            <td th:text="${project.status}">
        </tr>
        <tr>
            <th> Company</th>
            <td th:text="${project.company}">
        </tr>
        <tr>
            <th> Genesis</th>
            <td th:text="${project.genesis}">
        </tr>
        <tr>
            <th> Steering Committee</th>
            <td th:text="${project.steeringCom}">
        </tr>
        <tr>
            <th> External Providers</th>
            <td th:text="${project.externalProviders}">
        </tr>
        <tr>
            <th> Analyst</th>
            <td th:text="${project.analyst}">
        </tr>
        <tr>
            <th> Technical Manager</th>
            <td th:text="${project.techManager}">
        </tr>
        <tr>
            <th> MPK</th>
            <td th:text="${project.MPK}">
        </tr>
        <tr>
            <th> Inauguration Date</th>
            <td th:text="${project.inaugurationDate}">
        </tr>
        <tr>
            <th> Kick-off</th>
            <td th:text="${project.kickOff}">
        </tr>
        <tr>
            <th> Go Live Planned</th>
            <td th:text="${project.goLivePlanned}">
        </tr>
        <tr>
            <th> Go Live Final</th>
            <td th:text="${project.goLiveFinal}">
        </tr>
        <tr>
            <th> Project Closure</th>
            <td th:text="${project.projectClosure}">
        </tr>

        </tbody>
        </tbody>
    </table>
</div>


</body>
